:root {
    --clr-primary-200: hsla(218, 100%, 95%, 1);
    --clr-primary-400: hsla(222, 94%, 50%, 1);
    --clr-accent-400: hsla(89, 69%, 48%, 1);
    --clr-neutral-100: hsla(0, 0%, 100%, 1);
    --clr-neutral-400: hsla(0, 0%, 61%, 1);
    --clr-neutral-900: hsla(0, 0%, 0%, 1);

    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/* RESET */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
header,
main,
section,
footer,
div,
span,
img,
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

html,
html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* GLOBAL STYLES */
h1,
h2,
h3 {
    font-weight: var(--fw-bold);
}

body {
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
header {
    min-width: 100vw;
}

.nav {
    width: min(95%, 1080px);
    margin-inline: auto;
    margin-block-start: 2em;
    display: flex;
    align-items: center;
}

.nav__logo {
    cursor: pointer;
    transition: 150ms ease-out;
}

.nav__logo:hover {
    scale: 1.1;
    animation-name: wobble;
    animation-duration: 300ms;
    animation-delay: 150ms;
    animation-timing-function: ease-out;
}

.nav__logo__link--img {
    height: 1.75em;
}

.nav__list {
    font-size: 0.875rem;
    margin-block-start: 0.5em;
    margin-inline-start: clamp(3em, 5vw, 5em);
    display: flex;
    gap: clamp(3em, 5vw, 5em);
}

.nav__list__item__link {
    color: var(--clr-neutral-900);
}

.nav__list__item__link:hover {
    text-decoration: underline;
}

.nav__btns {
    margin-inline-start: auto;
    display: flex;
    gap: 1.25em;
}

.nav__btns__btn__link {
    border: 2px solid var(--clr-primary-400);
    border-radius: 8px;
    padding-block: 0.375em;
    font-weight: var(--fw-medium);
}

.nav__btns__btn__link--white {
    padding-inline: 1em;
    color: var(--clr-primary-400);
    transition-property: filter color background;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.nav__btns__btn__link--white:hover {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
    filter: brightness(150%);
}

.nav__btns__btn__link--primary {
    padding-inline: 0.5em;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
    transition-property: filter;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.nav__btns__btn__link--primary:hover {
    filter: brightness(150%);
}

.nav__toggler {
    cursor: pointer;
    margin-inline-start: 2em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5em;
}

.nav__toggler__line {
    height: 5px;
    background-color: var(--clr-primary-400);
}

.nav__toggler__line--long {
    width: 32px;
}

.nav__toggler__line--short {
    width: 24px;
}

.nav__toggler:hover > * {
    filter: brightness(150%);
}

@media only screen and (min-width: 992px) {
    .nav__toggler {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .nav__list {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .nav__btns {
        display: none;
    }
    .nav__toggler {
        margin-inline-start: auto;
    }
}

/* HERO */
/* EXPLORE */
/* SOLUTIONS */
/* FOOTER */

/* UTILITY CLASSES */
/* background colors */
.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-400 {
    background-color: var(--clr-neutral-400);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-primary-200 {
    background-color: var(--clr-primary-200);
}

.bg-accent-400 {
    background-color: var(--clr-accent-400);
}

/* text colors */
.text-primary {
    color: var(--clr-primary-400);
}

.text-black {
    color: var(--clr-neutral-900);
}

.text-gray {
    color: var(--clr-neutral-400);
}

.text-white {
    color: var(--clr-neutral-100);
}

/* font weights */
.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-normal {
    font-weight: var(--fw-normal);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-light {
    font-weight: var(--fw-light);
}

/* buttons and shapes */
.oval {
    height: 12px;
    width: 8px;
    border-radius: 50%;
}

/* ANIMATIONS */
@keyframes wobble {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* MEDIA QUERIES */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
